@mixin font($font-size, $font-weight, $line-height, $color: $greyBlue50) {
  font-family: 'San Francisco Pro';
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  font-style: normal;
  color: $color;
}
@mixin mobile() {
  @media screen and (max-width: 1024px) {
    @content;
  }
}
@mixin flex($justify: center) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}
@mixin mobile() {
//<<<<<< HEAD
    @media screen and(max-width: 375px) {
        @content
    }
}
    // @media screen and (max-width: 1024px) {
    //     @content
    // }

@mixin flex($justify:center) {
	display: flex;
	justify-content: $justify;
	align-items: center;
}

//>>>>>>> d9d8b6994a6e8036bd1927efe4632f4a3ba5d767
