$white: #ffffff;
$blue: #3361ff;
$green: #29cc39;
$bg-main: #e4e7f0;
$bg-pink: #e62e7b;
$greyBlue20: #1a2233;
$greyBlue25: #202b40;
$greyBlue50: #4d5e80;
$greyBlue60: #6b7a99;
$greyBlue70: #7d8fb3;
$greyBlue80: #adb8cc;
$greyBlue85: #c3cad9;
$greyBlue90: #dadee6;
$greyBlue95: #edeff2;
$greyBlue97: #f5f6f7;
$greyBlue98: #f7f8fa;
$greyBlue99: #fafbfc;
