$white:#FFFFFF;
$blue: #3361FF;
$bg-main: #E4E7F0;
$greyBlue20: #1A2233;
$greyBlue25: #202B40;
$greyBlue50: #4D5E80;
$greyBlue60: #6B7A99;
$greyBlue70: #7D8FB3;
$greyBlue80: #ADB8CC;
$greyBlue85: #C3CAD9;
$greyBlue90: #DADEE6;
$greyBlue95: #EDEFF2;
$greyBlue97: #f5f6f7;
$greyBlue98: #F7F8FA;
$greyBlue99: #FAFBFC;